<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>100000</particles>
  <batches>70</batches>
  <inactive>20</inactive>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="point">
      <parameters>0 0 0</parameters>
    </space>
    <angle type="isotropic"/>
    <energy parameters="988000.0 2.249e-06" type="watt"/>
  </source>
  <entropy_mesh>1</entropy_mesh>
  <mesh id="1">
    <dimension>17 17 17</dimension>
    <lower_left>-10.71 -10.71 -210.0</lower_left>
    <upper_right>10.71 10.71 210.0</upper_right>
  </mesh>
  <temperature_method>interpolation</temperature_method>
</settings>
