<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>1000000</particles>
  <batches>650</batches>
  <inactive>50</inactive>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="box">
      <parameters>-29.17 -29.17 0.05 29.17 29.17 96</parameters>
    </space>
    <angle type="isotropic"/>
    <energy parameters="988000.0 2.249e-06" type="watt"/>
  </source>
  <entropy_mesh>4</entropy_mesh>
  <mesh id="4">
    <dimension>5 5 5</dimension>
    <lower_left>-29.169999999999998 -29.169999999999998 5.7</lower_left>
    <upper_right>29.169999999999998 29.169999999999998 105.7</upper_right>
  </mesh>
</settings>
